---
import "../styles/global.css";
import Navbar from "../components/navbar.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/logo_bloque.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sumaj Wayras</title>
	</head>
	<body>
		
		<div class="h-full bg-linear-to-r from-gray-950 to-sky-600 static">
			<div class="m-8 fixed top-0 left-0 right-0 ">
				<Navbar />
			</div>
			<h1 class="text-3xl font-bold underline">Astro</h1>
			<div>
				<img src="/images/logo_bloque.png" alt="Logo Sumaj Wayras" class=" w-auto" />
				<img src="/images/logo_bloque.png" alt="Logo Sumaj Wayras" class=" w-auto" />
				<img src="/images/logo_bloque.png" alt="Logo Sumaj Wayras" class=" w-auto" />
				<img src="/images/logo_bloque.png" alt="Logo Sumaj Wayras" class=" w-auto" />
			</div>
		</div>
	</body>
</html>
