---
import "../styles/global.css";

import Navbar from "../components/navbar.astro";
import Gallery from "../components/gallery.astro";
import Carousel from "../components/carousel.astro";
import GalleryFilters from "../components/galleryFilters.astro";
import InstagramEmbed from "../components/InstagramEmbed.astro";
import TikTokEmbed from "../components/TikTokEmbed.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sumaj Wayras</title>
	</head>
	<body>
		
		<div class="h-full bg-linear-to-r from-gray-950 to-sky-600 static">
			<!-- Navbar -->
			<div class="m-8 fixed top-0 left-0 right-0 ">
				<Navbar />
			</div>

			<!-- Main Content -->
			<div class="pt-36 px-8 sm:px-16 md:px-32 lg:px-48">

				<!-- Home -->
				<div class="flex flex-row items-center justify-center bg-white/10 rounded-3xl shadow-lg p-4">
					
					<!-- Text Content Home -->
					<div class="flex flex-col items-center justify-center space-y-8">
						<h1 class="font-bold italic text-cyan-700 text-shadow-lg/100 text-center text-4xl  sm:text-4xl md:text-6xl">Sumaj Wayras</h1>
						<p class="text-cyan-100 text-center max-w-2xl text-shadow-lg/50 text-base sm:text-xl md:text-2xl">
							Bienvenido al Bloque de Tobas - Sumaj Wayras. Rumbo al Corso de Corsos de Cochabamba, <a class="text-cyan-500 text-shadow-lg/100">🎉Carnaval de la Concordia 2026!🎭</a>.
						</p>
					</div>
					
					<!-- Image Logo Home -->
					<img src="/images/logo.png" alt="Logo Sumaj Wayras" class="w-1/2 md:w-1/4 drop-shadow-xl/50" />
					
				</div>

				<hr class="text-white m-8">

				<!-- Contacts Cards -->
				<div class="grid grid-cols-1 h-8 sm:h-auto md:grid-cols-2 lg:grid-cols-3 gap-8 mb-8">
					<div class="sk-instagram-feed" data-embed-id="25647931"></div><script src="https://widgets.sociablekit.com/instagram-feed/widget.js" defer></script>
					<InstagramEmbed url="https://www.instagram.com/elviss.ac/" />
					<InstagramEmbed url="https://www.instagram.com/dannx_rc/" />
					<blockquote class="tiktok-embed" cite="https://www.tiktok.com/@sumaj.wayras" data-unique-id="sumaj.wayras" data-embed-from="embed_page" data-embed-type="creator" style="max-width:780px; min-width:288px;"> <section> <a target="_blank" href="https://www.tiktok.com/@sumaj.wayras?refer=creator_embed">@sumaj.wayras</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
				</div>

				<!-- Gallery Container-->
				<div class="flex flex-col items-center justify-center bg-white/10 rounded-3xl shadow-lg p-4 gap-4">
					<p class=" text-2xl md:text-4xl items-center text-cyan-500 text-shadow-lg/100">Galeria</p>
					<GalleryFilters />
				</div>

			</div>
		</div>

		<script async src="https://www.instagram.com/embed.js"></script>
		<script async src="https://www.tiktok.com/embed.js"></script>
		<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
	</body>
</html>