

<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-base" src="/public/images/gallery/photo1.jpeg" alt="Photo 1">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-base" src="/public/images/gallery/photo2.jpeg" alt="Photo 2">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-base" src="/public/images/gallery/photo3.jpeg" alt="Photo 3">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-base" src="/public/images/gallery/photo4.jpeg" alt="Photo 4">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-base" src="/public/images/gallery/photo5.jpeg" alt="Photo 5">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-base" src="/public/images/gallery/photo6.jpeg" alt="Photo 6   ">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-base" src="/public/images/gallery/photo7.jpeg" alt="Photo 7">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-base" src="/public/images/gallery/photo8.jpeg" alt="Photo 8">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-base" src="/public/images/gallery/photo9.jpeg" alt="Photo 9">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-base" src="/public/images/gallery/photo10.jpeg" alt="Photo 10">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-base" src="/public/images/gallery/photo11.jpeg" alt="Photo 11">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-base" src="/public/images/gallery/photo12.jpeg" alt="Photo 12">
        </div>
    </div>
</div>